#main{
  margin-top:40px;
}
.actions a{
  /*text-indent: -1999em;*/
}
.sessions div#main > div > div{
  margin-top:120px;
}
.sessions input[type=text],
.sessions input[type=password]{
  width:250px;
}
.pagination{
  text-align: center;
}
